/*  Setup some basic styling for the body */
body {
  background: #92d990;
  color: rgb(0, 0, 0);
  font-family: "Roboto";
  text-align: center;
}

a {
  color: rgb(0, 0, 0);
}

a:visited {
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: none;
}
